torch
torchvision
torchaudio
opencv-python
yt-dlp
numpy
matplotlib
scikit-learn
tqdm
gradio
yt-dlp
streamlit
seaborn
plotly
fpdf
transformers
sentencepiece
openai-clip
pydantic>=2.0.0
pydantic-settings
typing-extensions
rich
loguru
dataclasses-json
einops
librosa
soundfile